# Configuration base de données PostgreSQL
POSTGRES_DB=gesto_job_db
POSTGRES_USER=gesto_job_db_user
POSTGRES_PASSWORD=gesto_job_db_pass

MAIL_USERNAME=xxx
MAIL_PASSWORD=xxx

DOCKER_UI_PORT=8082

MAX_ENTREPRISES_PAR_PAGE=10
MAX_ANNONCESS_PAR_PAGE=10
MAX_POSITIFS_PAR_PAGE=10

# Compte de connexion (si absent : utilisateur / Mdp12345*)
GESTOJOB_ADMIN_USERNAME=utilisateur
GESTOJOB_ADMIN_PASSWORD=Mdp12345*
