<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/" style="margin-left: 13px;">🧑🏻‍💻💼🔎&nbsp;<span class="gj-wordmark">GestoJob</span></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Ouvrir le menu"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"
                       th:classappend="${page_active == 'home'} ? ' active' : ''"
                    >🏠︎ Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entreprises"
                       th:classappend="${page_active == 'entreprises'} ? ' active' : ''"
                    >🏢 Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/file"
                       th:classappend="${page_active == 'file'} ? ' active' : ''"
                    >📤 File d'attente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/annonces"
                       th:classappend="${page_active == 'annonces'} ? ' active' : ''"
                    >📝 Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parametres"
                       th:classappend="${page_active == 'parametres'} ? ' active' : ''"
                    >⚙️ Paramètres</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" style="margin-right: 13px;">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">🔑 Connexion</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/logout}" class="d-inline">
                        <button class="btn btn-link nav-link" type="submit">🚪 Déconnexion</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>
