<!DOCTYPE HTML>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GestoJob</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container-fluid">
    <div class="alert alert-danger" id="error" th:if="${errorMessage != null}">
        <div th:text="${errorMessage}">Erreur</div>
    </div>
    <h3>Paramètres</h3>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="" th:src="@{/js/main.js}" type="text/javascript"></script>
</body>
</html>